.about {
  background: #ffffff url("../img/about-bg.jpg") left -145px no-repeat;
}

.about__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 3.3% 0 3.3%;
}

.about__list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin: 112px 0 69px 0;
}

.about__item {
  max-width: 49%;
  min-height: 299px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-left: 3px solid #00b2ff;
  margin-bottom: 25px;
  padding: 40px 45px 49px 43px;

  &:hover {
    background-color: #00b2ff;
    color: #ffffff;
  }
}

.about__item svg {
  fill: #00b2ff;
  margin-bottom: 14px;
}

.about__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #00b2ff;
  margin: 0 0 12px 0;
}

.about__item p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.about__item:hover h3 {
  color: #ffffff;
}

.about__item:hover svg {
  fill: #ffffff;
}

.about__story {
  padding: 0 0 110px 178px;
}

.about__story h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 22px 0;
}

.about__story p {
  margin: 0 0 19px 0;
}

.about__story button {
  width: 180px;
  height: 45px;
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding: 12px 35px;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;

  background: none;
  cursor: pointer;
  margin-top: 40px;

  &:hover,
  &:focus {
    background: #00b2ff;
    color: #ffffff;
  }
}

@media (max-width: $desktop-width) {
  .about {
    background: #ffffff url("../img/about-bg-tablet.jpg") center 37px no-repeat;
  }

  .about__item {
    max-width: 570px;
    width: 48%;
    padding: 25px 21px 18px 23px;
    min-height: 232px;
  }

  .about__list {
    margin: 54px 0 0 0;
  }

  .about__item svg {
    margin-bottom: 4px;
  }

  .about__story {
    padding: 0 0 85px 185px;
    margin-top: 36px;
  }

  .about__story h2 {
    font-size: 32px;
    line-height: 140.62%;
  }

  .about__story p {
    font-size: 16px;
    line-height: 22px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: $tablet-width) {
  .about__item {
    flex-basis: 100%;
    padding: 25px 25px 23px 25px;
    margin-bottom: 20px;
  }

  .about__list {
    margin-top: 35px;
  }

  .about__item h3 {
    font-size: 20px;
    line-height: 140.62%;
  }

  .about__item p {
    font-size: 16px;
    line-height: 22px;
  }

  .about__story {
    padding: 0 0 65px 6px;
  }

  .about__story h2 {
    font-size: 28px;
    line-height: 140.62%;
  }

  .about__story p {
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .about__story p {
    max-height: 177px;
    margin: 0 0 38px;
  }

  .about__story button {
    margin-top: -11px;
  }
}
