.intro {
  background: #1b2d37 url("../img/intro-bg-desktop.jpg") no-repeat;
  padding: 316px 0 0 13%;
  min-width: 275px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/intro-bg-desktop@2x.jpg") no-repeat;
    background-size: 100% auto;
  }
}

.intro__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 28px 0;
}

.intro__paragraph {
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  position: relative;
  padding-left: 97px;
  margin: 0 0 42px 0;
  max-width: 683px;

  &::before {
    content: "";

    position: absolute;
    width: 66px;
    height: 2px;
    top: 15px;
    left: 0;
    z-index: 1;
    background: #ffffff;
  }
}

.intro__button {
  background: #00b2ff;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  height: 55px;
  border: none;
  margin: 0 0 278px 98px;
  padding: 0 45px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #ffffff;
    color: #00b2ff;
  }
}

.intro__button-text-mobile {
  display: none;
}

@media (max-width: $desktop-width) {
  .intro {
    padding: 206px 20% 0 12%;
    background: url("../img/bg-cirquit-tablet.png") right 128px no-repeat,
      url("../img/intro-bg-tablet.jpg") center 12px no-repeat;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-cirquit-tablet@2x.png") right 128px no-repeat,
        url("../img/intro-bg-tablet@2x.jpg") center 12px no-repeat;
      background-size: 100% auto;
    }
  }

  .intro__title {
    font-size: 60px;
    line-height: 70px;
  }

  .intro__paragraph {
    font-size: 18px;
    line-height: 156.8%;
    padding: 0 40px 0 48px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
    }
  }

  .intro__button {
    margin: 0 0 163px 48px;
    padding: 0 30px;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    background: url("../img/bg-cirquit-mobile.png") right 128px no-repeat,
      url("../img/intro-bg-mobile.jpg") -625px 17px no-repeat;
    background-size: auto;
    padding: 318px 16px 0 16px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .intro__title {
    font-size: 40px;
    line-height: 47px;
  }

  .intro__paragraph {
    font-size: 16px;
    line-height: 156.8%;
    padding: 0 16px 0 48px;
    margin-bottom: 43px;
  }

  .intro__button-text-mobile {
    display: block;
  }

  .intro__button-text-desktop {
    display: none;
  }

  .intro__button {
    display: flex;
    margin: 0 auto;
  }
}
