.logo {
  display: flex;
  align-self: flex-start;
  margin-right: auto;
}

.logo__image {
  margin-right: 16px;
  width: 52px;
  height: 52px;
}

.logo__text {
  display: flex;
  flex-wrap: wrap;
  width: 134px;
}

.logo__text-big {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin-top: 10px;
}

.logo__text-small {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}
