.modal {
  background: #00B2FF;
  color: #ffffff;
  position: absolute;
  width: 410px;
  height: 605px;
	display: none;
  top: 138px;
  padding: 40px;
  left: 25%;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 35px;
  left: 407px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: '';

    position: absolute;
    top: 10px;
    left: 2px;

    width: 23px;
    height: 3px;

    background-color: #ffffff;
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
    background-color: #558CB7;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
	font-family: Roboto Condensed;
	font-weight: normal;
	font-size: 36px;
	line-height: 51px;
  margin: 0 0 7px 0;
}

.modal p {
  font-family: PT Mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 49px 0;
}

.modal form {
	margin: 0;
	width: 411px;
}

.modal input {
  width: 100%;
	height: 51px;

	background: #FFFFFF;
	opacity: 0.1;
  margin-bottom: 40px;

  &::placeholder {
  	color: #ffffff;
  }
}

.modal textarea {
	width: 100%;
	height: 154px;
  margin-bottom: 43px;
	background: #FFFFFF;
	opacity: 0.1;
}

.modal button[type="submit"] {
  width: 100%;
	height: 45px;
  display: block;
  font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
  color: #ffffff;

  padding: 12px 35px;

  border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;

  background: none;

  cursor: pointer;
}

.modal label {
  max-width: 230px;
  display: flex;
  position: relative;

}

.modal input[type="checkbox"] {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0 0 0 19px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal input[type="checkbox"]+span {
  position: absolute;
  top: 0;
  left: -32px;

  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.modal input[type="checkbox"]:focus+span {
  border-color: #558CB7;
}

.modal input[type="checkbox"]:checked+span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  top: 2px;
  left: 1px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
