@font-face {
  font-weight: normal;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTMono-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "PT Mono", "Aria", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes show-item {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-item {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

// animation: show-item 0.3s ease-in 0.03s both;  animation: hide-item 0s step-end 0.3s both;
